* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #fff;
}

body {
    background-color: #BFC3BE;
}

form {
    display: flex;
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    padding: 50px;
    padding-left: 0;
    border: 2px #FAF8FF solid;
    background-color: #171922;
    border-radius: 12px;
    box-shadow: 20px 20px 4px 4px rgba(0, 0, 0, 0.2);
}

form > div{
    width: 50%;
    text-align: center;
}

form img {
    max-width: 165px;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}

form input, form select {
    display: block;
    padding: 10px 0;
    width: 100%;
    border: 1px #9693A5 solid;
    border-radius: 5px;
    color: #000;
    margin: 20px 5px;
}

form select option{
    color: #000;
}

form input[type="radio"]{
    display: inline;
    width: auto;
    height: auto;
}

.buttons{
    display: flex;
}

.buttons button{
    width: 30%;
    display: block;
    border: none;
    padding: 10px 5px;
    margin: 20px 5px;
    border-radius: 4px;
    color: #000;
    font-size: 12px;
}

button[type="submit"]{
    background-color: #9AE6BA;
}

button[type="reset"]{
    background-color: #FFA84B;
}

button[type="button"]{
    background-color: #fff;
}